html,
body {
  height: 100%;
  background-color: #f0f0f0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4rem;
  color: #231709;
}

header {
  position: relative;
  height: 75%;
  background-position: center 40px;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

article h2 {
  font-family: "Raleway", sans-serif;
}

.nowebp header, .no-js header {
  background-image: url("images/background768.jpg");
}

.webp header {
  background-image: url("images/background768.jpg");
}


.nowebp header.services, .no-js header.services {
  background-image: url("images/services.jpg");
}

.webp header.services {
  background-image: url("images/services.webp");
}


/* Background color on main element */
main {
  background-color: #f0f0f0;
}

/* Sign-In page in center and with max width */
.form-signin {
  max-width: 50%;
  padding: 15px;
  margin: auto;
}

/* Navigation Menu CSS */
nav.navbar-default {
  background-color: #231709 !important;
}

li.nav-item a.nav-link {
  font: bold 0.8rem 'Montserrat', sans-serif;
  margin: 0 0 !important;
  padding: 10px 20px !important;
  margin: 0.2rem 0 !important;
  color: white !important;
  border: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
  min-width: 120px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
}

li.nav-item a.nav-link.active,
li.nav-item a.nav-link:hover {
  border: 1px solid white;
  transition: all .4s ease;
}

ul.navbar-nav li.nav-item:nth-child(n+2)::after {
  display: none;
  content: "";
  height: 1em;
  margin-top: -1.25em;
  width: 1px;
  background-color: white;
  transform: rotate(25deg) translateY(-50%);
}

.navbar .navbar-toggler-icon {
  background-image: url("images/menu.svg");
}

/* Diana staver logo */
header img {
  top: 50%;
}

/* Phone number */
header a {
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #231709;
  text-shadow: 2px 2px white;
  top: 60%;
}

header a p {
  margin-left: 5vw;
}

.container .btn-dark {
  font-weight: 700;
}

.container .btn-dark:hover {
  background-color: #8c796c;
}

/* Card with bio on index page */
.card.index-bio {
  display: flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -ms-flexbox-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 5px 5px 20px #231709;
  background-color: #cacaca;
}

.card.index-bio p span {
  display: none;
}

.card.index-bio a.btn {
  display: none;
}

.card.index-bio img {
  max-height: 491px;
  max-width: 334px;
}

/* Footer CSS */
footer {
  background-color: #231709 !important;
}

footer svg {
  height: 24px;
  width: 24px;
}

footer svg:hover {
  transition: all .4s ease;
  transform: scale(1.2, 1.2);
}

/* SERVICES PAGE */
.card-deck.services-card h2 {
  border-bottom: 2px solid #5D5D5D;
}

/* BLOG */
.blog-card {
  border-bottom: solid 1px #231709 !important;
  border-radius: 0;
}

.pagination a.btn-outline-dark {
  margin-left: 1px;
  margin-right: 1px;
}

.pagination a.btn-outline-dark:hover,
.btn-outline-info:hover,
.pagination a.disabled,
.container .btn-dark {
  background-color: #231709;
}

.main-blog .card a {
  text-decoration: none;
}

.main-blog .card h2>a, .main-blog a>h4 {
  color: #231709;
}

.main-blog .card h2>a:hover, .main-blog a>h4:hover,
.main-blog ul li a:hover {
  color: #8c796c;
}

.pagination a.disabled {
  color: white;
}

.main-blog ul li {
  border-bottom: solid 1px #231709;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
}

.main-blog ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #231709;
}

/* Media queries */
@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {
  header {
    background-position: center 48px;
  }

  .nowebp header, .no-js header {
    background-image: url("images/background1200.jpg");
  }

  li.nav-item a.nav-link {
    margin: 0 14px !important;
    padding: 10px 14px !important;
    text-align: center;
  }

  .card.index-bio {
    -ms-flexbox-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  ul.navbar-nav li.nav-item:nth-child(n+2)::after {
    display: block;
  }

  .card-deck.services-card h4 {
    margin-left: 0.5rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .webp header {
    background-image: url("images/background1920.webp");
  }

  .nowebp header, .no-js header {
    background-image: url("images/background1920.jpg");
  }

  li.nav-item a.nav-link {
    margin: 0 33px !important;
    font-size: 1rem;
  }

  .card.index-bio a.btn {
    display: inline-block;
  }

  .card.index-bio {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .card.index-bio p span {
    display: inline;
  }
}