body, html, main {
  font-family: "Raleway", sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.container {
  max-width: 960px;
}

.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: auto;
}
/* header {
  position: absolute;
  left: 0;
  right: 0;
} */

header nav.navbar {
  margin-top: 70px;
}

li.nav-item a.nav-link {
  font: bold 1.1rem 'Montserrat', sans-serif;
  /* margin: 0 40px !important; */
  padding: 10px 25px !important;
  color: white !important;
  border: 1px solid rgba(0, 0, 0 ,0);
}

li.nav-item a.nav-link.active, li.nav-item a.nav-link:hover {
  border: 1px solid white;
  transition: all .4s ease;
}

li.nav-item a.nav-link::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 16px;
}

body {
  background-image: url("images/blackgirl2.jpg");
  /* background-origin: border-box; */
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

#telephone {
  position: absolute;
  margin-top: -300px;
}

/* Media Queries */

@media only screen and (max-width: 1199px) {
  li.nav-item a.nav-link {
    font-size: 1rem;
  }
  header nav.navbar {
    right: 0;
  }
  li.nav-item a.nav-link {
    margin: 0 33px !important;
  }
}

@media only screen and (max-width: 960px) {
  li.nav-item a.nav-link {
    font-size: 0.8rem;
  }
  header nav.navbar {
    right: 0;
  }
  li.nav-item a.nav-link {
    margin: 0 20px !important;
  }
}