{% extends 'blog/blog_base.html' %}
{% block blogmain %}
    {% if posts %}
        {% for post in posts %}
            <!-- Blog`s individual Post -->
            <article class="card blog-card bg-transparent border-0 pb-3 my-4">
                <h2 class="card-title font-weight-bold mt-3"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="my-1">{{ post.date_posted|date:'F d, Y' }}</p>
                <a href="{% url 'post-detail' post.id %}">
                <picture class="card-img-top">
                    <source srcset="{{ post.post_photo_webp.url }}" type="image/webp">
                    <img class="card-img-top" src="{{ post.post_photo.url }}" alt="{{ post.title }} image"></a>
                </picture>
                <p class="mt-md-2">{{ post.content|linebreaks|truncatewords:40 }}...</p>
                <div class="card-body px-0">
                    <a class="btn btn-dark" href="{% url 'post-detail' post.id %}">&#139; Read More &#155;</a>
                </div>
            </article> <!-- End Blog`s individual Post -->
        {% endfor %}
    {% else %}
        <h3 class="row font-weight-bold justify-content-center mt-4">Nothing matched your request</h3>
    {% endif %}

    <!-- Div to center the pagination-->
    <div class="pagination justify-content-center mb-4">
        <!-- Pagination logic (if blog has multiple pages) -->
        {% if is_paginated %}
            <!-- If current page has a previous page show First & Previous buttons -->
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <!-- Iterate through all the pages -->
            {% for num in page_obj.paginator.page_range %}
                <!-- If the iterator is the current page > display page number -->
                {% if page_obj.number == num %}
                    <a class="btn btn-outline-dark disabled active mb-4" href="?page={{ num }}">{{ num }}</a>
                <!-- Else display a range of max 3 pages away from current page -->
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- If current page has a next page show Next & Last buttons -->
            {% if page_obj.has_next %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %} <!-- End Next & Last buttons logic-->
        {% endif %} <!-- End pagination logic-->
    </div> <!-- End Pagination div -->

{% endblock blogmain %}