{% extends 'blog/blog_base.html' %}
{% block title %}{{ post.category|title }}: {{ post.title }}{% endblock title %}
{% block blogmain %}

    <!-- Blog Post -->
    <div class="card bg-transparent border-0 pb-3 my-4">
        <h2 class="card-title font-weight-bold mt-3">{{ post.title }}</h2>
        <div class="d-flex align-items-end justify-content-between my-1 mb-3">
            <a class="btn btn-dark" href="{% url 'category' post.category %}">{{ post.category|title }}</a>
            <p id="test">{{ post.date_posted|date:'F d, Y' }}</p>
        </div>
        <picture class="card-img-top m-md-3 col-md-6 mt-2 mx-auto px-0">
            <source srcset="{{ post.post_photo_webp.url }}" type="image/webp">
            <img class="card-img-top" src="{{ post.post_photo.url }}" alt="{{ post.title }} image"></a>
        </picture>>
        <div class="card-body px-0 text-justify">
            <p class="card-text">{{ post.content|linebreaks }}</p>
            {% if request.user.is_staff %}
            <div class="row pt-3">
                <a class="ml-auto btn btn-dark btn-small ml-5 mr-3" href="{% url 'post-update' post.id %}">Edit</a>
                <a class="btn btn-danger btn-small" href="{% url 'post-delete' post.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="disqus_thread"></div>

    <script>
        var disqus_config = function () {
        this.page.url = 'https://dianastaver.com/blog/post/{{ post.id }}';
        this.page.identifier = '{{ post.id }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://dianastaver.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <!-- Back to blog -->
    <a href="{% url 'blog' %}">
        <h4 class="d-inline-block my-4 font-weight-bold"> &#8592; Back to main page</h4>
    </a>

{% endblock blogmain %}
