{% extends 'blog/blog_base-min.html' %}
{% load comments %}
{% get_comment_count for post as comment_count %}
{% get_comment_list for blog.post post.id as comment_list %}
{% block title %}{{ post.category|title }}: {{ post.title }}{% endblock title %}
{% block blogmain %}

    <!-- Blog Post -->
    <div class="card bg-transparent border-0 pb-3 my-4">
        <h2 class="card-title font-weight-bold mt-3">{{ post.title }}</h2>
        <div class="d-flex align-items-end justify-content-between my-1 mb-3">
            <a class="btn btn-dark" href="{% url 'category' post.category %}">{{ post.category|title }}</a>
            <p id="test">{{ post.date_posted|date:'F d, Y' }}</p>
        </div>
        <img class="card-img-top" src="{{ post.post_photo.url }}" alt="{{ post.title }}">
        <div class="card-body px-0 text-justify">
            <p class="card-text">{{ post.content|linebreaks }}</p>
            {% if request.user.is_staff %}
            <div class="row pt-3">
                <a class="ml-auto btn btn-dark ml-5 mr-3" href="{% url 'post-update' post.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>

    <p>{{ comment_count }} comments have been posted.</p>

    {% for comment in comment_list %}
    <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
    ...
    <p>Comment: {{ comment.comment }}</p>
    ...
    {% endfor %}
    
    <!-- Back to blog -->
    <a href="{% url 'blog' %}">
        <h4 class="d-inline-block mb-4 font-weight-bold"> &#8592; Back to main page</h4>
    </a>

{% endblock blogmain %}