{% extends 'site_content/base.html' %}
{% load static %}
{% block title %}Diana Staver Hair&Make Up{% endblock title %}
{% block styles %}
    <style>
        #index-photo-header {height: 100vh !important; background-attachment: fixed;}
        @media only screen and (max-width: 1199px) {
            #index-photo-header {
                background-attachment: scroll;
            }
        }
    </style>
{% endblock styles %}
{% block content %}
<div>
    <a href="tel:+16196487030" id="telephone">619-648-7030</a>
    <p>Index Page</p>
    <p>Index Page</p>
    <p>Index Page</p>
    <p>Index Page</p>
    <p>Index Page</p>
    <p>Index Page</p>
    <p>Index Page</p>
</div>
{% endblock content %}