{% extends 'site_content/base.html' %}
{% block description %}<meta name="description" content="Please check this map for a easy way to find my beauty studio located inside Phenix Salon Suite, on Tenth Ave and A St">{% endblock description %}
{% block title %}Diana Staver Hair & Makeup - Detailed Map{% endblock title %}
{% block content %}
    <div class="container map py-4">
        <p class="text-justify p-4">You can park inside Vantage Pointe Apartments underground parking. When you drive on Ninth Ave, past B St, the entrance to the parking is going to be on your right. Follow the signs for "Future Residents Parking". <b>Park only on spots marked for "Phenix Salon Suites", otherwise your car might be towed.</b> Parking spots are limited and based on first come first serve. If there are no empty spots, you can park around the builduing at one of the numerous metered parking spaces (payment required Mo-Sa 8am-6pm) or other parking lots near the building.</p>
        <div class="row">
            <img loading="lazy" class="img-fluid col-lg-6" src="https://res.cloudinary.com/diana-staver/image/upload/v1572064749/ol1pyefa9wxpqzh6xen0.jpg" alt="top map">
            <img loading="lazy" class="img-fluid col-lg-6" src="https://res.cloudinary.com/diana-staver/image/upload/v1572064749/hbogb25g6scdrxngijhh.jpg" alt="Ninth St goole map view">
            <img loading="lazy" class="img-fluid col-lg-6" src="https://res.cloudinary.com/diana-staver/image/upload/v1572064750/pxczlqsewmtbyntn9qwa.jpg" alt="Parking outside picture">
            <img loading="lazy" class="img-fluid col-lg-6" src="https://res.cloudinary.com/diana-staver/image/upload/v1572064750/g5bji0ldvyzc0rjj51iw.jpg" alt="Parking entrace picture">
            <img loading="lazy" class="img-fluid col-lg-6" src="https://res.cloudinary.com/diana-staver/image/upload/v1572064749/q7gugid2mbwjn9bp2mkf.jpg" alt="Parking inside picture">
            <img loading="lazy" class="img-fluid col-lg-6" src="https://res.cloudinary.com/diana-staver/image/upload/v1572064749/av5vyl1oqsrmpzntibtz.jpg" alt="Phenix salon suites parking lots">
        </div> 
    </div>
{% endblock content %}