{% extends 'site_content/base.html' %}
{% block description %}<meta name="description" content="Haircuts for women, men or children. Highlights, balayage, color retouch. Wedding packages, blowouts or makeup. These and even more, in downtown San Diego">{% endblock description %}
{% block title %}Diana Staver Hair & Makeup - Available Services{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="row justify-content-center mt-3 font-weight-bold">Services</h1>

    <!-- BEGGINING OF THE CARD DECK -->
    <div class="card-deck services-card pt-3">

        <!-- FIRST CARD -->
        <div class="card bg-transparent border-0">

            <!-- First section of the 1st card -->
            <h2 class="card-title">HAIRCUTS</h2>
            <div class="card-body p-0">
                <h4>Women`s</h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Short length</p>
                    <p>$45-50</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Medium length</p>
                    <p>$60-65</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Long hair</p>
                    <p>$70+</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Bang trim</p>
                    <p>$15-$20</p>
                </div>
                <h4>Men`s</h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Short length</p>
                    <p>$25+</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Long length</p>
                    <p>$45+</p>
                </div>
                <h4>Children`s &nbsp;<span class="font-italic"><small>(under 12)</small></span></h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Boy`s</p>
                    <p>$25+</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Girl`s</p>
                    <p>$35+</p>
                </div>
                <h4>Shampoo &nbsp;<span class="font-italic"><small>(without drying)</small></span></h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">In case it`s needed &#10033;</p>
                    <p>$10+</p>
                </div> <!-- End last row -->
            </div> <!-- End card body 1st section of 1st card -->
        </div> <!-- End 1st card -->

        <!-- SECOND CARD -->
        <div class="card bg-transparent border-0">
            <h2 class="card-title">STYLING</h2>
            <div class="card-body p-0">
                <div class="row m-0 justify-content-between">
                    <h4>Blowout</h4>
                    <p>$45+</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <h4>Formal styling</h4>
                    <p>$75+</p>
                </div> <!-- End last row div -->
            </div>
            <!-- First section of 2nd card -->
            <h2 class="card-title">HAIR COLOR</h2>
            <div class="card-body p-0">
                <div class="row m-0 justify-content-between">
                    <h4>Color retouch</h4>
                    <p>$65+</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <h4>Full color</h4>
                    <p>$90+</p>
                </div> <!-- End last row -->
            </div> <!-- End 1st section 2nd card body div -->

            <!-- 2nd section of 2nd card -->
            <h2 class="card-title">WEDDING</h2>
            <div class="card-body p-0">
                <div class="row m-0 justify-content-between">
                    <h4>Wedding packages</h4>
                    <p>By Consultation</p>
                </div> <!-- End last row div -->
            </div> <!-- End 2nd section 2nd card body div -->

            <!-- 3rd section of 2nd card -->
            <h2 class="card-title">MAKEUP</h2>
            <div class="card-body p-0">
                <div class="row m-0 justify-content-between">
                    <h4>Day makeup</h4>
                    <p>$65</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <h4>Special ocassion</h4>
                    <p>$75</p>
                </div> <!-- End last row div -->
            </div> <!-- End 3rd section 2nd card body div -->
        </div> <!-- End  2nd card div -->
    </div> <!-- End card-deck div -->

    <!-- NOTES CARD -->
    <div class="card bg-transparent border-0">
        <div class="card-body px-0">
            <p class="pt-sm-3 mb-0">NOTES</p>
            <p>&#10033; Achieving the best results is only possible when I work with a fresh washed hair, preferably the same day. If the hair needs to be washed, an adittional charge will incur. It is highly advised to wash your hair home before your visit, as this will reduce the time at the salon, and will save you money as well</p>
        </div>
        
    </div>

</div> <!-- End container div -->
{% endblock content %}