{% extends 'site_content/base.html' %}
{% block description %}<meta name="description" content="Haircuts for women, men or children. Highlights, balayage, color retouch. Wedding packages, blowouts or makeup. These and even more, in downtown San Diego">{% endblock description %}
{% block title %}Diana Staver Hair & Makeup - Available Services{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="row justify-content-center my-3 my-md-5 font-weight-bold">Services</h1>

    <div class="services-card mx-1 mx-md-5 px-md-5">

        <div class="card bg-transparent border-0">
            <h2 class="card-title">HAIRCUTS <small>(includes blowout)</small></h2>

            <div class="card-body p-0">
                <h4>Women`s</h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Short length</p>
                    <p>$65</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Medium length</p>
                    <p>$70-$75</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Long hair</p>
                    <p>$85-$120</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Bang trim</p>
                    <p>$20-$25</p>
                </div>
                <h4>Men`s</h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Short length</p>
                    <p>$50-$60</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Long length</p>
                    <p>$70-$80</p>
                </div>
                <h4>Children`s &nbsp;<span class="font-italic"><small>(under 12)</small></span></h4>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Boy`s</p>
                    <p>$40-$50</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <p class="pl-4">Girl`s</p>
                    <p>$50-$70</p>
                </div>
            </div>
        </div>

        <div class="card bg-transparent border-0 mt-md-4">
            <h2 class="card-title">STYLING</h2>
            <div class="card-body p-0">
                <div class="row m-0 justify-content-between">
                    <h4>Blowout</h4>
                    <p>$60+</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <h4>Formal styling</h4>
                    <p>$90-$250</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <h4>Up Do</h4>
                    <p>$200-$300</p>
                </div>
                <div class="row m-0 justify-content-between">
                    <h4>Wedding hairstyle</h4>
                    <p>$200-$300</p>
                </div>
            </div>
        </div>

        <div class="card bg-transparent border-0">
            <div class="card-body px-0">
                <p class="pt-sm-3 mb-0">NOTES</p>
                <p>&#10033; Achieving the best results is only possible when I work with a fresh washed hair, preferably to be washed the same day.</p>
            </div>        
        </div>
    </div>
</div>
{% endblock content %}