{% extends "site_content/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="container content-section mr-auto">
      <div class="media pt-3">
        <img class="img-thumbnail rounded-circle mr-5" style="width: 125px; height: 125px;" src="{{ details.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ details.user }}</h2>
          <p class="text-secondary">{{ details.user.email }}</p>
        </div>
      </div>
    </div>
{% endblock content %}